* {
    padding: 0;
    margin: 0;
}
body {
    background: black;
}
.container {
    width: 800px;
    margin: 0 auto;
}

div#title {
    text-align: center;
    margin: 1em auto;
}
#title img{
    height:70px;
}

div#world-container {
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
#world-map{
    box-shadow: 0 0 0 3px #ffff00;
}

div#pacman {
    height: 25px;
    width: 25px;
    background: url(pacman.gif) no-repeat center center;
    background-size: 22px;
    transform: rotate(0deg);
    position: relative;
    top: 25px;
    left: 25px;
    margin-bottom: -25px;
    z-index: 99;
}
#ghost1,#ghost2,#ghost3,#ghost4 {
    height: 25px;
    width: 25px;
    transform: rotate(0deg);
    position: relative;
    top: 25px;
    left: 25px;
    margin-bottom: -25px;
    z-index: 97;
}
#ghost1,#ghost4{background: url(ghost1.gif) no-repeat center center;background-size: 22px;}
#ghost2,#ghost3{background: url(ghost2.gif) no-repeat center center;background-size: 22px;}
.coin {
    background: url(coin.gif) no-repeat center center #161a24;
    background-size: 15px;
    transform: rotate(0deg);
    z-index: 1;
    position: relative;
}
.row {
    display: flex;
    justify-content: center;
}
.brick {
    background-color: #1e2c81;
}

.path {
    background-color: #161a24;
}.cherry {
    background: url(cherry.png) no-repeat center center #161a24;
    background-size: 25px;
    transform: rotate(0deg);
    z-index: 1;
    position: relative;
}
.brick, .path, .coin,.cherry {
    width: 25px;
    height: 25px;
}
#numbers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 600px;
    height: fit-content;
    margin: 0 auto;
}

#scores, #timer {
    width: 80px;
    height: 35px;
    border: 3px solid yellow;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 1.4rem;
    font-family: monospace;
}

#cherrys {
    color: white;
    width: 80px;
    height: 35px;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    font-family: monospace;
}
#cherrys img{
    height: 30px;
}
#record {border: 3px solid yellow;padding: 10px 20px;}

ul#highScores {
    display: flex;
    color: white;
    flex-direction: column;
    list-style-type: none;
    font-family: monospace;
    font-size: 1.3em;
    font-weight: bold;
}
div#lives img {
    height: 30px;
}

div#lives {
    height: 35px;
    width: 100px;
    border: 3px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}